[submodule "middleware"]
	path = middleware
	url = https://github.com/universAAL/middleware.git
[submodule "ontology"]
	path = ontology
	url = https://github.com/universAAL/ontology.git
[submodule "context"]
	path = context
	url = https://github.com/universAAL/context.git
[submodule "remote"]
	path = remote
	url = https://github.com/universAAL/remote.git
[submodule "ui"]
	path = ui
	url = https://github.com/universAAL/ui.git
[submodule "lddi"]
	path = lddi
	url = https://github.com/universAAL/lddi.git
[submodule "security"]
	path = security
	url = https://github.com/universAAL/security.git
[submodule "service"]
	path = service
	url = https://github.com/universAAL/service.git
[submodule "xtras/maven"]
	path = xtras/maven
	url = https://github.com/universAAL/maven.git
[submodule "xtras/itests"]
	path = xtras/itests
	url = https://github.com/universAAL/itests.git
[submodule "xtras/utilities"]
	path = xtras/utilities
	url = https://github.com/universAAL/utilities.git
[submodule "xtras/samples"]
	path = xtras/samples
	url = https://github.com/universAAL/samples.git
