[submodule "middleware"]
	path = middleware
	url = https://github.com/universAAL/middleware.git
[submodule "ontology"]
	path = ontology
	url = https://github.com/universAAL/ontology.git
[submodule "context"]
	path = context
	url = https://github.com/universAAL/context.git
[submodule "remote"]
	path = remote
	url = https://github.com/universAAL/remote.git
[submodule "ui"]
	path = ui
	url = https://github.com/universAAL/ui.git
[submodule "support"]
	path = support
	url = https://gitlab.com/universAAL/support.git
